@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}

body{
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden !important;
}

html{
  font-size: 16px;
  overflow-x: hidden !important;
}

@media (max-width: 1300px) {
  html {
    font-size: 14px;
  }
}

.forTopBar{
  transform: translateY(4px) rotate(45deg);
}

.forBottomBar{ 
  transform: translateY(-4px) rotate(-45deg);
}

.mobileMenu{
  width: min(100%, 768px);
}

.overlay{
  transition: ease-in .5s;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

.opacityToOverlay{
  opacity: 1 !important;
}

.toScreenFromRight{
  right: 0;
}

.noScroll{
  overflow-y: hidden;
}

.firstSection{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.secondSection{
  height: max(56vh, 500px);
}

.space{
  background: url('../media/spaceBackground.png') center/cover no-repeat;
}

@media (max-width: 435px) {
  .firstSection{
    grid-template-columns: 100%;
  }

  .header1, .firstPart{
    margin: 0;
  }

  .astronaut{
    margin-top: 40px;
  }
}