@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}

nav a img{
  height: 6.2vh;
  aspect-ratio: 105/68;
}

.forTopBar{
  transform: translateY(5px) rotate(45deg);
}

.forBottomBar{ 
  transform: translateY(-5px) rotate(-45deg);
}